@page "/mathematics"

<h1>Geometric Computation</h1>

@* <p>
    Projects demonstrating linear algebra, coordinate geometry,
    and matrix-based transformations used in graphics and CAD systems.
</p>
 *@
<p class="section-intent">
    Each project focuses on mathematical correctness, clarity of implementation,
    and visual verification.
</p>

<div class="project-list">
    <ProjectCard
            Title="Line-Triangle Intersection"
            Description="checking intersection between items in 3D space"
            Link="mathematics/lineTriangleIntersection" 
            PublishDate="new DateTime(2026, 01, 04)" />

    <ProjectCard
        Title="2D Shape Rotation"
        Description="Rotation using homogeneous matrices"
        Link="mathematics/shapeRotation"
        PublishDate="new DateTime(2025, 12, 22)" />

    <ProjectCard
        Title="2D Shape Translation"
        Description="Translation of 2D shapes using homogeneous matrices"
        Link="mathematics/shapeTranslation"
        PublishDate="new DateTime(2025, 12, 19)" />
    
</div>

<hr />

<a class="secondary" href="cad">View CAD Projects →</a>
