@page "/mathematics"

<PageTitle>Mathematics</PageTitle>

<h1>Mathematics</h1>

<p>Displaying samples</p>
<p>sample 1: translate</p>


<textarea @bind="@ParagraphText" rows="4" cols="50" placeholder="Enter your paragraph here..."></textarea>

<p>Current Text: @ParagraphText</p>

@code {
    private string ParagraphText { get; set; } = "";
}
@* <p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
} *@
